.start {
    text-align: center;

    .logo {
        position: absolute;
        top: 0;
    }

    img {
        width: 100%;
        object-fit: cover;
        margin-bottom: 10%;
    }

    article {
        h1 {
            margin-bottom: 5%;
        }

        p {
            padding: 0 10%;

            a {
                color: #e28f83;
                text-transform: uppercase;
            }
        }

        p:first-of-type {
            margin-bottom: 20%;
        }

        p:last-of-type {
            margin: 10% 0;
        }
    }
}
