#musicOverview {
    padding-top: 20%;
    text-align: center;

    h1 {
        margin-bottom: 3%;
    }

    .textSmall.uppercase {
        margin-bottom: 3%;
    }

    .likesAndSongs {
        display: flex;
        gap: 12%;
        padding: 9% 0;
        justify-content: center;

        .musicFavoritesAndViews {
            position: relative;
            padding-left: 25px;
        }

        .musicFavoritesAndViews::before {
            content: "";
            position: absolute;
            top: -3px;
            left: -5px;
            height: 30px;
            width: 20px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        .musicFavorites::before {
            background-image: url(../../assets/images/LikeCount.png);
        }

        .musicViews::before {
            background-image: url(../../assets/images/SongsIcon.png);
        }
    }

    .allSongs {
        padding-bottom: 25%;

        div {
            position: relative;
            text-align: left;
            padding: 4% 0 4% 13%;
            margin: 0 7%;
            border-bottom: 1px solid #adb8d929;

            a,
            button {
                position: absolute;
                top: 15px;
                left: 0;
                background-color: rgba(255, 255, 255, 0);
                border: none;

                img {
                    object-fit: contain;
                    width: 35px;
                    height: 35px;
                }
            }

            h3 {
                font-size: 0.9rem;
                color: #3f414ed8;
            }

            p {
                font-size: 0.8rem;
            }
        }
    }
}
