#meditationDetails {
    padding-bottom: 25%;

    .meditationPlaylist {
        img {
            width: 100%;
            height: 30vh;
            border: none;
            object-fit: cover;
            border-radius: 0 0 10px 10px;
            margin-bottom: 10%;
            object-position: center -10vh;
        }
    }
}
