.smallTiles {
    display: flex;
    gap: 2%;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 0 5% 5% 5%;

    a {
        width: 35vw;

        video,
        img {
            width: 35vw;
            height: 13vh;
            object-fit: cover;
            border-radius: 10px;
            object-position: bottom center;
        }

        h3 {
            line-height: 1.3em;
            max-height: 2.7em;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    div {
        display: flex;
        padding: 0;
        gap: 5%;

        p {
            font-size: 0.7rem;
        }
    }
}

.smallTiles::-webkit-scrollbar {
    display: none;
}

@media screen and (min-width: 576px) {
    .smallTiles {
        a {
            width: 15vh;

            video,
            img {
                width: 15vh;
                height: 11vh;
            }

            div {
                p {
                    font-size: 0.5rem;
                }
            }
        }
    }
}
