#dayPicker {
    .day {
        border: 1px solid #e0e4d7;
        font-family: "Source Sans Pro Semibold";
        width: 40px;
        height: 40px;
        color: #4a503d;
        font-size: 1rem;
        line-height: 120%;
        background-color: white;
        border-radius: 50%;
        margin: 1%;
    }

    .day_active {
        border: none;
        font-family: "Source Sans Pro Semibold";
        width: 40px;
        height: 40px;
        color: #4a503d;
        font-size: 1rem;
        line-height: 120%;
        background-color: #8e9775;
        border-radius: 50%;
        margin: 1%;
    }
}

@media screen and (min-width: 576px) {
    #dayPicker {
        .day {
            width: 30px;
            height: 30px;
            font-size: 0.8rem;
        }
        .day_active {
            width: 30px;
            height: 30px;
            font-size: 0.8rem;
        }
    }
}
