.searchBar {
    width: 100%;
    position: relative;
    margin-bottom: 5%;

    input {
        width: 90%;
        display: block;
        margin: auto;
        background-color: #ecedf0;
        border: none;
        border-radius: 10px;
        line-height: 1.7rem;
        padding: 0 3%;
    }
}

.searchBar::before {
    content: "";
    position: absolute;
    top: 17%;
    right: 7%;
    z-index: 2;
    height: 17px;
    width: 17px;
    background-image: url(../../assets/images/SearchIcon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
