.welcome {
    text-align: center;
    padding-bottom: 10%;

    img {
        width: 100%;
        object-fit: cover;
        margin-bottom: 20%;
    }

    h1 {
        color: #fefcf8;
        font-family: "Source Sans Pro Bold";
        position: absolute;
        top: 10%;
        left: 7%;
        width: 45%;
        font-size: 2.5rem;
        text-align: left;
    }
}
