.likeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
    background-color: #e2908383;
    border: 1px solid #e28f83;
    padding: 5%;
    border-radius: 50px;
    background-image: url(../../assets/images/LikeButtonLight.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
}

.likeButton.liked {
    background-image: url(../../assets/images/LikeCount.png);
    background-color: rgba(255, 255, 255, 0);
    border: none;
    background-size: 60%;
}
