@font-face {
    font-family: "Source Sans Pro Regular";
    src: url(./assets/fonts/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: "Source Sans Pro Semibold";
    src: url(./assets/fonts/SourceSansPro-SemiBold.ttf);
}

@font-face {
    font-family: "Source Sans Pro Bold";
    src: url(./assets/fonts/SourceSansPro-Bold.ttf);
}

@font-face {
    font-family: "Roboto Medium";
    src: url(./assets/fonts/Roboto-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// --------------------------------------------- CLASSES THAT ARE USED IN VARIOUS COMPONENTS
.logo {
    position: relative;
    padding: 7% 0;
    width: 100%;
    text-align: center;
    font-family: "Source Sans Pro Semibold";
    letter-spacing: 0.2em;
    color: #4a503d;
}

.logo.light {
    color: #fefcf8;
}

.bigRedButton {
    background-color: #e28f83;
    color: #faf2da;
    padding: 5% 35%;
    font-family: "Source Sans Pro Regular";
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 40px;
}

.heading1 {
    font-family: "Source Sans Pro Bold";
    color: #4a503d;
    font-size: 2rem;
}

.heading2 {
    font-family: "Source Sans Pro Bold";
    letter-spacing: 0.06em;
    color: #4a503d;
    font-size: 1.3rem;
}

.heading3 {
    font-family: "Source Sans Pro Bold";
    letter-spacing: 0.06em;
    color: #4a503d;
    font-size: 1rem;
}

.textSmall {
    font-family: "Source Sans Pro Regular";
    color: #a1a4b2;
    letter-spacing: 0.05em;
}

.textSmall.uppercase {
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.light {
    color: #faf0e0;
}

@media screen and (min-width: 576px) {
    .logo,
    .bigRedButton {
        font-size: 0.8rem;
    }

    .heading1 {
        font-size: 1.7rem;
    }

    .heading2 {
        font-size: 1rem;
    }

    .heading3 {
        font-size: 0.8rem;
    }

    .textSmall {
        font-size: 0.7rem;
    }
}
