#yogaOverview {
    > h1 {
        text-align: center;
    }

    > .textSmall {
        margin: 5% 15%;
        font-size: 0.8rem;
        text-align: center;
    }

    .results {
        padding: 0 5% 25% 5%;
        column-count: 2;
        column-gap: 10px;
    }
}

@media screen and (min-width: 576px) {
    #yogaOverview {
        > .textSmall {
            margin: 5% 5%;
        }
    }
}
