#randomSuggestions {
    display: flex;
    gap: 15px;
    padding: 0 4.5%;
    margin-bottom: 5%;

    a {
        position: relative;
        overflow: hidden;
        border-radius: 10px;

        video,
        img {
            width: 43.5vw;
            height: 23vh;
            filter: brightness(0.7);
            object-fit: cover;
            object-position: center;
            transform: scale(1.1);
        }

        img {
            object-position: bottom center;
            transform: scale(1.7);
        }

        h3 {
            position: absolute;
            bottom: 40%;
            left: 0;
            width: 35vw;
            padding: 0 7%;
        }

        p {
            position: absolute;
            padding: 0 7%;
        }

        p:first-of-type {
            bottom: 30%;
            left: 0;
        }

        p:nth-of-type(2) {
            bottom: 10%;
            left: 0;
        }
        p:nth-of-type(3) {
            bottom: 10%;
            right: 7%;
            color: #4a503d;
            background-color: #faf0e0;
            padding: 2% 7%;
            border-radius: 15px;
            font-size: 0.8rem;
        }
    }
}

@media screen and (min-width: 576px) {
    #randomSuggestions {
        gap: 5px;
        margin-bottom: 7%;

        a {
            p:nth-of-type(3) {
                font-size: 0.6rem;
            }

            video,
            img {
                width: 25vw;
            }

            h3 {
                width: 18vw;
            }
        }
    }
}
