#randomSuggestions {
    display: flex;
    gap: 15px;
    padding: 0 4.5%;
    display: relative;
    margin-bottom: 5%;

    div {
        position: relative;

        video,
        img {
            width: 43.5vw;
            height: 23vh;
            object-fit: cover;
            border-radius: 10px;
            object-position: bottom center;
            filter: brightness(0.7);
        }

        h3 {
            position: absolute;
            bottom: 40%;
            left: 0;
            color: #faf0e0;
            font-size: 1rem;
            width: 35vw;
            padding: 0 7%;
        }

        p {
            position: absolute;
            color: #faf0e0;
            padding: 0 7%;
            font-size: 0.8rem;
        }

        p:first-of-type {
            bottom: 30%;
            left: 0;
        }

        p:nth-of-type(2) {
            bottom: 10%;
            left: 0;
        }
        p:nth-of-type(3) {
            bottom: 10%;
            right: 7%;
            color: #4a503d;
            background-color: #faf0e0;
            padding: 2% 7%;
            border-radius: 15px;
        }
    }
}
